commons-suncalc
===============

A Java library for calculation of sun and moon positions and phases.

It is a Java port of the great [SunCalc](https://github.com/mourner/suncalc) JavaScript library by [Vladimir Agafonkin](http://agafonkin.com/en/), with some modifications and Java-nizations to the API.

The source code can be found at [GitHub](https://github.com/shred/commons-suncalc) and is distributed under the terms of [Apache License 2.0](http://www.apache.org/licenses/LICENSE-2.0).

Installation
------------

_commons-suncalc_ is available at Maven Central. Just add this snippet to your `pom.xml`:

```xml
<dependency>
  <groupId>${project.groupId}</groupId>
  <artifactId>${project.artifactId}</artifactId>
  <version>${project.version}</version>
</dependency>
```

Quick Start
-----------

This library consists of a few models, all of them are invoked the same way:

```java
Date date = // date of computation
double lat, lng = // geolocation
SunPosition position = SunPosition.of(date, lat, lng);
System.out.println("Altitude: " + position.getAltitude());
System.out.println("Azimuth: " + position.getAzimuth());
```

Dependencies and Requirements
-----------------------------

_commons-suncalc_ requires at least Java 7, but has no other dependencies. It can also be used on Android.
